@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////
// *
// * Print css: my new component
// *
////////////////////////////////////////////////////////////////////////////////

@import "../../00-theme/00-base/_libs.scss";
@import "../../00-theme/00-base/00-config/**/*.scss";
@import "../../00-theme/00-base/01-helpers/**/*.scss";

@media print {


  @media print {

    // overview
    // =============================================================================

    .view--display-future-events {
      .block--provider-facets {
        display: none !important;
      }
    }

    // detail
    // =============================================================================

    .event--header {
      text-align: center;
    }

    .event--header .node__meta--full {
      display: block !important;
    }

    .note__meta--event-full--top {

      .field--name-field-event-tags {

        display: block;
        width: 100%;

        .field__items {
          display: block;
          width: 100%;
          text-align: center;
        }

        .field__item {
          display: inline-block;
        }
      }
    }

  }


}
