/* globbing for the various partial Sass files of this component */
/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
.block--facet-blockcategory {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

.block--facet-blockcategory h3 {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.block--facet-blockcategory h3.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.block--facet-blockcategory .facets-widget-links {
  width: 100%;
}

.item-list__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: -0.625rem -0.15625rem 0 -0.15625rem;
}

.item-list__links .facet-item {
  display: block;
  margin: 0.625rem 0.15625rem 0 0.15625rem;
}

.item-list__links .facet-item .facet-item__status {
  display: none;
}

.item-list__links .facets-reset {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.item-list__links .facets-reset a {
  position: relative;
  padding-right: 1.4375rem;
}

.item-list__links .facets-reset a::after {
  position: absolute;
  right: 0.3125rem;
  top: 0.5rem;
  content: "\f057";
  display: inline-block;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.8125rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 900;
}

.item-list__links .facets-reset a::after {
  vertical-align: baseline;
  transition: none;
}

.item-list__links a {
  display: block;
  padding: 0.375rem 0.4375rem 0.25rem 0.4375rem;
  border: 1px solid #ef6c69;
  border-radius: 0.1875rem;
  font-size: 0.6875rem;
  line-height: 1.1875rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.item-list__links a, .item-list__links a:visited {
  color: #ef6c69;
}

.item-list__links a:hover, .item-list__links a:active, .item-list__links a.is-active {
  border-color: #ca2751;
  color: #fff;
  background-color: #ca2751;
}

.item-list__links .blog-facet-item__status {
  display: none;
}

@media (min-width: 768px) {
  .block--facet-blockcategory {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 940px) {
  .block--facet-blockcategory {
    padding-bottom: 3.125rem;
  }
}

.event__bar--full {
  position: relative;
  padding: 1.25rem 0 1.25rem 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.event__bar--full:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #ef6c69;
}

.event__bar--full .field--name-field-event-price {
  font-size: 1.125rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

.event__bar--full .layout__subregion-01 {
  display: -ms-flexbox;
  display: flex;
}

.event__bar--full .block--field-blocknodeeventfield-event-start-date,
.event__bar--full .block--field-blocknodeeventfield-event-end-date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.event__bar--full .block--field-blocknodeeventfield-event-start-date div,
.event__bar--full .block--field-blocknodeeventfield-event-end-date div {
  display: inline;
}

.event__bar--full .block--field-blocknodeeventfield-event-start-date::before {
  position: relative;
  top: 0;
  content: "\f073";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.75rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
}

.event__bar--full .block--field-blocknodeeventfield-event-start-date::before {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  vertical-align: baseline;
  padding-right: 0.625rem;
}

.event__bar--full .block--field-blocknodeeventfield-event-start-date .field {
  display: inline-block;
}

.event__bar--full .block--field-blocknodeeventfield-event-end-date::before {
  content: " - ";
  margin: 0 0.3125rem;
}

@media (min-width: 768px) {
  .event__bar--full {
    top: 0;
  }
  .event__bar--full .layout-builder__region {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .event__bar--full .block--field-blocknodeeventfield-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .event__bar--full .field--name-field-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .event__bar--full .field--name-field-event-price {
    margin-bottom: 0;
    margin-right: 1.5625rem;
    white-space: nowrap;
    -ms-word-break: keep-all;
    word-break: keep-all;
  }
  .event__bar--full .rs-scroll-to-formatter {
    margin-top: 0;
  }
  .event__bar--full.js-sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 910;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    transition: top 0.3s ease-in-out;
  }
  .toolbar-fixed.toolbar-horizontal .event__bar--full.js-sticky {
    top: 4.9375rem;
  }
}

@media (min-width: 940px) {
  .event__bar--full .field--name-field-event-price {
    font-size: 1.6875rem;
    line-height: 2.125rem;
  }
  .event__bar--full .block--field-blocknodeeventfield-event-start-date,
  .event__bar--full .block--field-blocknodeeventfield-event-end-date {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}

.event__meta--full {
  padding: 0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  color: #1e1e1f;
}

.event__meta--full > * {
  margin-bottom: 0.3125rem;
}

.event__meta--full > *:last-child {
  margin-bottom: 0;
}

.event__meta--full .layout__region--content-blocks {
  margin-top: 0;
}

.event__meta--full .block--rocketship-social-widgets-block h2,
.event__meta--full .block--rocketship-social-widgets-block h3 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "Arial", sans-serif;
  font-weight: 600;
}

.font-text-01-loaded .event__meta--full .block--rocketship-social-widgets-block h2,
.font-text-01-loaded .event__meta--full .block--rocketship-social-widgets-block h3 {
  font-family: "Poppins", "Arial", sans-serif;
}

.event__meta--full .field--name-field-event-price {
  margin-bottom: 0.625rem;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

.event__meta--full .block--field-blocknodeeventfield-event-start-date,
.event__meta--full .block--field-blocknodeeventfield-event-end-date {
  display: inline;
}

.event__meta--full .block--field-blocknodeeventfield-event-start-date .field,
.event__meta--full .block--field-blocknodeeventfield-event-end-date .field {
  display: inline-block;
}

.event__meta--full .block--field-blocknodeeventfield-event-end-date::before {
  content: " - ";
  margin: 0 0.3125rem;
}

.event__meta--full .block--provider-facets {
  padding-bottom: 0;
  font-weight: 400;
}

.event__meta--full .block--provider-facets h3 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.125rem;
  line-height: 2.25rem;
  color: #1e1e1f;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin-bottom: 0.625rem;
  width: 100%;
}

@media (max-width: 767px) {
  .event__meta--full .block--provider-facets h3 {
    font-size: 0.86538rem;
    line-height: 1.73077rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .event__meta--full .block--provider-facets h3 {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .event__meta--full .block--provider-facets h3 {
    font-size: 1.02273rem;
    line-height: 2.04545rem;
  }
}

@media (min-width: 1200px) {
  .event__meta--full .block--provider-facets h3 {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}

.event__meta--full .block--provider-facets h3 a,
.event__meta--full .block--provider-facets h3 a:visited {
  text-decoration: none;
  color: #ef6c69;
}

.event__meta--full .block--provider-facets h3 a:hover {
  text-decoration: underline;
  color: #ef6c69;
}

.font-heading-01-loaded .event__meta--full .block--provider-facets h3 {
  font-family: "AbrilFatface", "Poppins", "Arial", sans-serif;
}

.event__meta--full .block--provider-facets .item-list__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
}

.event__meta--full .block--provider-facets .facet-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
}

.event__meta--full .block--provider-facets .facet-item::after {
  content: ",";
  margin-right: 0.25rem;
}

.event__meta--full .block--provider-facets .facet-item:last-child::after {
  content: "";
  margin-right: 0;
}

.event__meta--full .block--provider-facets a {
  display: inline-block;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-transform: none;
  border: 0 none;
  border-radius: 0;
  position: relative;
  display: inline;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.event__meta--full .block--provider-facets a, .event__meta--full .block--provider-facets a:visited {
  color: #ef6c69;
  border-bottom: 1px solid #ef6c69;
}

.event__meta--full .block--provider-facets a:hover {
  color: #ef6c69;
  border-bottom: 1px solid rgba(239, 108, 105, 0);
}

.event__meta--full .block--provider-facets a:active {
  color: #ef6c69;
  border-bottom: 1px solid rgba(239, 108, 105, 0);
}

.event__meta--full .block--provider-facets a:hover,
.event__meta--full .block--provider-facets a:active {
  background-color: transparent;
}

@media (min-width: 768px) {
  .event__meta--full {
    padding: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .event__meta--full > .layout__region {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1.5625rem;
    padding-right: 0;
  }
  .event__meta--full > .layout__region > * {
    margin-right: 1.5625rem;
    margin-bottom: 0;
  }
  .event__meta--full .block--rocketship-social-widgets-block {
    display: -ms-flexbox;
    display: flex;
  }
  .event__meta--full .block--rocketship-social-widgets-block h3 {
    margin-right: 0.625rem;
    margin-bottom: 0;
    padding-top: 1px;
  }
  .event__meta--full .block--field-blocknodeeventfield-event-start-date,
  .event__meta--full .block--field-blocknodeeventfield-event-end-date {
    display: -ms-flexbox;
    display: flex;
  }
  .event__meta--full .block--field-blocknodeeventfield-event-end-date {
    margin-left: -1.5625rem;
  }
  .event__meta--full .field--name-field-events {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1.5625rem;
  }
  .event__meta--full .field--name-field-events .field {
    margin-left: 1.5625rem;
  }
  .event__meta--full .field--name-field-event-price {
    margin-bottom: 0;
  }
  .event__meta--full .field--name-field-event-place p {
    margin-bottom: 0;
  }
}

.event--frontpage .date-first-teaser {
  padding: 1.875rem 1.25rem;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid #ef6c69;
  text-align: center;
}

.event--frontpage .date-first-teaser .day {
  display: block;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: bold;
  color: #ca2751;
}

.event--frontpage .date-first-teaser .month {
  display: block;
  font-size: 1.625rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: #ef6c69;
}

.event--frontpage h2,
.event--frontpage h3,
.event--frontpage h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.6875rem;
  line-height: 2.125rem;
  color: #1e1e1f;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

@media (max-width: 767px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.29808rem;
    line-height: 1.63462rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.40625rem;
    line-height: 1.77083rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.53409rem;
    line-height: 1.93182rem;
  }
}

@media (min-width: 1200px) {
  .event--frontpage h2,
  .event--frontpage h3,
  .event--frontpage h4 {
    font-size: 1.6875rem;
    line-height: 2.125rem;
  }
}

.event--frontpage h2 a,
.event--frontpage h2 a:visited,
.event--frontpage h3 a,
.event--frontpage h3 a:visited,
.event--frontpage h4 a,
.event--frontpage h4 a:visited {
  text-decoration: none;
  color: #ef6c69;
}

.event--frontpage h2 a:hover,
.event--frontpage h3 a:hover,
.event--frontpage h4 a:hover {
  text-decoration: underline;
  color: #ef6c69;
}

.font-heading-01-loaded .event--frontpage h2, .font-heading-01-loaded
.event--frontpage h3, .font-heading-01-loaded
.event--frontpage h4 {
  font-family: "AbrilFatface", "Poppins", "Arial", sans-serif;
}

.event--frontpage h2 a, .event--frontpage h2 a:visited,
.event--frontpage h3 a,
.event--frontpage h3 a:visited,
.event--frontpage h4 a,
.event--frontpage h4 a:visited {
  border-bottom: 1px solid rgba(202, 39, 81, 0);
  text-decoration: none;
  color: #ef6c69;
}

.event--frontpage h2 a:hover, .event--frontpage h2 a:active,
.event--frontpage h3 a:hover,
.event--frontpage h3 a:active,
.event--frontpage h4 a:hover,
.event--frontpage h4 a:active {
  border-bottom: 1px solid #ca2751;
  text-decoration: none;
  color: #ca2751;
}

.event--frontpage .layout__subregion-01 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  border-bottom: 1px solid #e2e2e2;
}

.event--frontpage .date-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1.75rem 0rem 1.3125rem;
  margin-right: 1rem;
  border-right: 1px solid #e2e2e2;
}

.event--frontpage .date-wrapper::before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f073";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #ca2751;
}

.event--frontpage .date-wrapper .last-date {
  position: relative;
}

.event--frontpage .date-wrapper .last-date::before {
  content: "\f178";
  display: inline-block;
  margin: 0 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #ca2751;
}

.event--frontpage .field--name-field-event-place {
  position: relative;
  padding: 0 0 0 1.125rem;
}

.event--frontpage .field--name-field-event-place::before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f276";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #ca2751;
}

.event--frontpage .rs-canonical-link-formatter {
  margin-top: 0.4375rem;
}

@media (min-width: 480px) {
  .event--frontpage .node__content {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .event--frontpage .layout--rs-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 7.5rem;
    padding: 0;
    border-right: 2px solid #ef6c69;
  }
  .event--frontpage .layout--rs-content {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(100% - 7rem);
    padding: 0 0 0 1.875rem;
  }
  .event--frontpage .date-first-teaser {
    margin: 0;
    padding: 0;
    border-bottom: 0 none;
  }
}

@media (min-width: 940px) {
  .event--frontpage .layout--rs-top {
    padding: 0;
    margin-left: -2.5rem;
    width: 9.375rem;
  }
  .event--frontpage .layout--rs-content {
    padding: 0 0 0 3.375rem;
  }
}

@media (min-width: 1200px) {
  .event--frontpage .layout--rs-content {
    padding: 0 0 0 3.375rem;
  }
}

.event--teaser .layout__subregion-01 {
  position: relative;
  margin-bottom: 0.9375rem;
}

.event--teaser .field--name-field-event-start-date {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1.0625rem 1.25rem 0.8125rem 1.25rem;
  min-width: 4.9375rem;
  text-align: center;
  color: #fff;
  background-color: #ef6c69;
}

.event--teaser .field--name-field-event-start-date .day,
.event--teaser .field--name-field-event-start-date .part-1 {
  display: block;
  margin-bottom: 0.1875rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.event--teaser .field--name-field-event-start-date .month,
.event--teaser .field--name-field-event-start-date .part-2 {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.event--teaser .field--image,
.event--teaser .field--name-field-media-canonical-image {
  margin-bottom: 0;
}

.event--teaser .field--image a,
.event--teaser .field--image img,
.event--teaser .field--name-field-media-canonical-image a,
.event--teaser .field--name-field-media-canonical-image img {
  display: block;
}

.event--teaser h2,
.event--teaser h3,
.event--teaser h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.6875rem;
  line-height: 2.125rem;
  color: #1e1e1f;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

@media (max-width: 767px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.29808rem;
    line-height: 1.63462rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.40625rem;
    line-height: 1.77083rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.53409rem;
    line-height: 1.93182rem;
  }
}

@media (min-width: 1200px) {
  .event--teaser h2,
  .event--teaser h3,
  .event--teaser h4 {
    font-size: 1.6875rem;
    line-height: 2.125rem;
  }
}

.event--teaser h2 a,
.event--teaser h2 a:visited,
.event--teaser h3 a,
.event--teaser h3 a:visited,
.event--teaser h4 a,
.event--teaser h4 a:visited {
  text-decoration: none;
  color: #ef6c69;
}

.event--teaser h2 a:hover,
.event--teaser h3 a:hover,
.event--teaser h4 a:hover {
  text-decoration: underline;
  color: #ef6c69;
}

.font-heading-01-loaded .event--teaser h2, .font-heading-01-loaded
.event--teaser h3, .font-heading-01-loaded
.event--teaser h4 {
  font-family: "AbrilFatface", "Poppins", "Arial", sans-serif;
}

.event--teaser .field--name-field-event-location {
  position: relative;
  margin-top: -0.625rem;
  padding: 0 0 0 1.125rem;
}

.event--teaser .field--name-field-event-location::before {
  position: absolute;
  left: 0;
  top: 3px;
  content: "\f276";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #ca2751;
}

.event--teaser .rs-canonical-link-formatter,
.event--teaser .rs-canonical-link-formatter a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.event--teaser .rs-canonical-link-formatter a {
  overflow: hidden;
  text-indent: -9999px;
}

.event--teaser .field--name-field-event-tags {
  margin-top: 0.9375rem;
}

@media (min-width: 768px) {
  .event--teaser {
    display: -ms-flexbox;
    display: flex;
  }
  .event--teaser .layout__subregion-01 {
    margin-bottom: 1.5rem;
  }
  .event--teaser .node__content--event--teaser {
    display: -ms-flexbox;
    display: flex;
  }
  .event--teaser .node__content--event--teaser .layout-section,
  .event--teaser .node__content--event--teaser .layout__region {
    display: -ms-flexbox;
    display: flex;
  }
  .event--teaser .node__content--event--teaser .layout__region {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .event--teaser .node__content--event--teaser .block--field-blocknodeeventtitle {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.event__header--full {
  position: relative;
  padding: 2.5rem 0 2.5rem 0;
  transition: all 0.3s ease-in-out;
}

.event__header--full .block--type-cb-title {
  margin: 0;
  text-align: center;
}

.event__header--full .block--type-cb-title h1 {
  margin-bottom: 0;
}

.event__header--full .block--type-cb-title h2 {
  margin-top: 1.5rem;
}

.event__header--full .layout__subregion-01 {
  margin-top: 0.625rem;
}

.event__header--full .cb-title--extended {
  text-align: center;
}

.event__header--full .cb-title--extended .field--name-field-cb-button {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.event__header--full .cb-title--extended + .layout__subregion-01 {
  margin-top: 1.5rem;
}

.event__header--full.layout--bg-image {
  padding: 2.5rem 0 2.5rem 0;
}

.event__header--full.layout--bg-image .layout__region--1-col--content-blocks h1,
.event__header--full.layout--bg-image .layout__region--1-col--content-blocks h2 {
  margin-bottom: 0;
}

.event__header--full.layout--bg-image .layout__region--1-col--content-blocks .field {
  font-weight: 700;
}

.event__header--full.layout--bg-image .layout__region--1-col--content-blocks .field--name-created {
  margin-top: 0.9375rem;
}

.event__header--full.layout--bg-image .layout__region--1-col--content-blocks .breadcrumb {
  -ms-flex-pack: left;
  justify-content: left;
}

.event__header--full.layout--bg-image .layout__subregion-02 {
  position: relative;
  z-index: 1;
  margin-top: 2.5rem;
}

.event__info--full {
  padding: 2.5rem 0 2.5rem 0;
  position: relative;
  z-index: 5;
}

.event__info--full:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #e5e5e5;
}

.event__info--full .block {
  margin-bottom: 1.25rem;
}

.event__info--full .block:last-child {
  margin-bottom: 0;
}

.event__info--full .block--field-blocknodeeventfield-event-address > h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.6875rem;
  line-height: 2.125rem;
}

.event__info--full .field--name-field-event-address > h3:first-child {
  margin-bottom: 0.9375rem;
  font-size: 1.6875rem;
  line-height: 2.125rem;
}

.event__info--full .field--name-field-event-address .address__lines {
  position: relative;
  padding-left: 1.3125rem;
}

.event__info--full .field--name-field-event-address .address__lines::before {
  position: absolute;
  left: 0;
  top: 0.1875rem;
  content: "\f041";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
}

.event__info--full .field--name-field-event-address .address__locality,
.event__info--full .field--name-field-event-address .address__country {
  padding-left: 1.5rem;
}

.event__info--full .block--field-blocknodeeventfield-event-info > h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.6875rem;
  line-height: 2.125rem;
}

@media (min-width: 768px) {
  .event__header--full {
    padding: 2.5rem 0 2.5rem 0;
    height: 16.875rem;
  }
  .event__header--full.layout--bg-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .event__header--full.layout--bg-image .layout__subregion-01 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .event__header--full.layout--bg-image .layout__subregion-01 .field {
    display: block;
    margin-top: 0.9375rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  .event__header--full.layout--bg-image .layout__subregion-01 .block--field-blocknodeblogfield-node-title-replacement {
    width: 100%;
  }
  .event__header--full.layout--bg-image .layout__subregion-02 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0 2.5rem 0;
  }
  .event__info--full {
    padding: 40 0 40 0;
    margin: 0 -0.9375rem;
  }
  .event__info--full .layout-builder__region {
    display: -ms-flexbox;
    display: flex;
  }
  .event__info--full .block {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin: 0 0.9375rem;
    width: calc(33.33333% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .event__header--full {
    padding: 3.125rem 0 3.125rem 0;
    height: 23.125rem;
  }
  .event__info--full {
    padding: 50 0 50 0;
  }
}

@media (min-width: 1200px) {
  .event__header--full {
    padding: 4.6875rem 0 4.6875rem 0;
    height: 29.375rem;
  }
  .event__info--full {
    padding: 60 0 60 0;
  }
}

.view--display-past-events .view__content {
  margin-top: -1.875rem;
}

.view--display-past-events .event--teaser {
  margin-top: 1.875rem;
}

@media (min-width: 768px) {
  .view--display-past-events .view__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1.875rem;
  }
  .view--display-past-events .event--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .view--display-past-events .event--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
}

.view--display-future-events .view__content,
.view--display-past-events .view__content {
  margin-top: -1.875rem;
}

.view--display-future-events .event--teaser,
.view--display-past-events .event--teaser {
  margin-top: 1.875rem;
}

@media (min-width: 768px) {
  .view--display-future-events .view__content,
  .view--display-past-events .view__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1.875rem;
  }
  .view--display-future-events .event--teaser,
  .view--display-past-events .event--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 940px) {
  .view--display-future-events .event--teaser,
  .view--display-past-events .event--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
}

.node-layout-builder-form {
  position: fixed;
  z-index: 908;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1.25rem;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
