////////////////////////////////////////////////////////////////////////////////
// *
// * Event main overview
// *
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.view--display-past-events {

  .view__content {
    margin-top: rem(-$grid-gap-hor);
  }

  .event--teaser {
    margin-top: rem($grid-gap-hor);
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .view--display-past-events {

    // ** make a grid

    .view__content {

      @include flex-grid();
    }

    .event--teaser {
      @include flex-col(6);
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  .view--display-past-events {

    .event--teaser {
      @include flex-col(4);
    }
  }

}
