////////////////////////////////////////////////////////////////////////////////
// *
// * Blog tags on top over overview page
// *
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

// ** make inline list by default

.block--facet-blockcategory {
  display: flex; // make it go in 1 row, always if space for the content
  flex-wrap: wrap;
  padding-bottom: rem($gap-vert-top-xs);

  h3 {
    @include hide;
  }

  .facets-widget-links {
    width: 100%;
  }
}

.item-list__links {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: rem(-10) rem(-2.5) 0 rem(-2.5);

  .facet-item {
    display: block;
    margin: rem(10) rem(2.5) 0 rem(2.5);

    .facet-item__status {
      display: none;
    }
  }

  .facets-reset {
    display: flex;
    order: 2; // make it go last
    flex-grow: 1;
    justify-content: flex-end;

    a {
      position: relative;
      padding-right: rem(23); // space for icon

      @include font-awesome((
        icon: $fa-var-times-circle,
        element: "after",
        position: absolute,
        top: rem(8),
        right: rem(5), // position after link
        margin: 0,
        size: 13
      ));

      &::after {
        vertical-align: baseline;
        transition: none;
      }
    }
  }

  a {
    display: block;
    padding: rem(6) rem(7) rem(4) rem(7);
    border: 1px solid $color-spot-1;
    border-radius: rem(3);
    @include font-size($font-size-xs, $line-height-xs); // reset font-size
    font-weight: 600;
    text-transform: uppercase;
    background-color: $color-white;
    transition: all $duration $easing;

    &,
    &:visited {
      color: $color-spot-1;
    }

    &:hover,
    &:active,
    &.is-active {
      border-color: $color-spot-2;
      color: $color-white;
      background-color: $color-spot-2;
    }
  }

  // can be used as an icon for active state
  // but usually not needed, so we hide it
  .blog-facet-item__status {
    display: none;
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .block--facet-blockcategory {
    padding-bottom: rem($gap-vert-top-sm);
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  .block--facet-blockcategory {
    padding-bottom: rem($gap-vert-top-md);
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .block--facet-blockcategory {
    // padding-bottom-bottom: rem($gap-vert-top-lg);
  }

}
