////////////////////////////////////////////////////////////////////////////////
// *
// * event meta on full page: bar below the the header image & title
// *
////////////////////////////////////////////////////////////////////////////////

.event__bar--full {
  position: relative;
  padding: rem(20) 0 rem(20) 0;
  color: $color-white;
  transition: all $duration $easing;

  // background-color
  @include full-bg ($color-spot-1, "before");

  // ** price

  .field--name-field-event-price {
    @include font-size($h4-size, $h4-line);
    font-weight: $font-weight-bold;
    margin-bottom: rem(10);
    @include text-nobreak;
  }

  // ** date

  .layout__subregion-01 {
    display: flex;
  }

  .block--field-blocknodeeventfield-event-start-date,
  .block--field-blocknodeeventfield-event-end-date {
    display: flex;
    align-items: flex-end;
    @include font-size($font-size-base, $line-height-base);
    font-weight: $font-weight-bold;

    div {
      display: inline;
    }
  }

  .block--field-blocknodeeventfield-event-start-date {
    $icon: (
      icon: $fa-var-calendar-alt,
      size: 28,
      type: "light",
      element: "before",
      position: relative,
      top: 0
    );

    @include font-awesome($icon);

    &::before {
      align-self: baseline;
      vertical-align: baseline;
      padding-right: rem(10);
    }

    .field {
      display: inline-block;
    }
  }

  .block--field-blocknodeeventfield-event-end-date {
    &::before {
      content: " - ";
      margin: 0 rem(5);
    }
  }

  // ** Subscribe

  // .rs-scroll-to-formatter {
  //   margin-top: rem(10);

  //   a {
  //     @include button-negative;
  //   }
  // }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .event__bar--full {

    top: 0; // needed for fixed animation

    //
    .layout-builder__region {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }

    // -- Center and inline the text with flexbox and space-between

    .block--field-blocknodeeventfield-events {
      display: flex;
      flex-grow: 1; // push subscribe button to the end
    }

    .field--name-field-events {
      display: flex; // make price & date go in 1 line
      align-items: center; // center vertically
      width: 100%; // for IE
    }

    // ** price

    .field--name-field-event-price {
      margin-bottom: 0;
      margin-right: rem(25);
      @include text-nobreak;
    }

    // ** date

    .block--field-blocknodeeventfield-event-start-date,
    .block--field-blocknodeeventfield-event-end-date {
      //
    }

    .block--field-blocknodeeventfield-event-start-date {
      // &::before {
      //   align-self: baseline;
      // }
    }

    .block--field-blocknodeeventfield-event-end-date {
      // &::after {
      //   content: ' - ';
      //   margin: 0 rem(5);
      // }
    }

    // ** Subscribe (if Advanced module)

    .rs-scroll-to-formatter {
      margin-top: 0; // reset
    }

  }

  // ** sticky bar

  .event__bar--full.js-sticky {
    position: fixed;
    left: 0;
    top: 0;
    @include z-index(header);

    width: 100%;

    padding-left: rem($container-padding);
    padding-right: rem($container-padding);

    transition: top $duration $easing;

    // compensate for space made by fixed toolbar
    // TO DO: in case of fixed header, need to add space then as well
    .toolbar-fixed.toolbar-horizontal & {
      top: rem(79);
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  .event__bar--full {

    // ** price:

    .field--name-field-event-price {
      @include font-size($h3-size, $h3-line);
    }

    // ** date:

    .block--field-blocknodeeventfield-event-start-date,
    .block--field-blocknodeeventfield-event-end-date {
      @include font-size($h4-size, $h4-line);
    }

  }

}

