////////////////////////////////////////////////////////////////////////////////
// *
// * event meta on full page: bottom
// *
////////////////////////////////////////////////////////////////////////////////


.event__meta--full {

  padding: 0;
  margin-top: rem($gap-vert-bottom-xs);
  margin-bottom: rem($gap-vert-bottom-xs);
  font-weight: $font-weight-semibold;
  color: $color-heading;

  & > * {
    margin-bottom: rem(5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .layout__region--content-blocks {
    margin-top: 0;
  }

  // ** placing of social share

  .block--rocketship-social-widgets-block {
    h2,
    h3 {
      @include font-size($font-size-base, $line-height-base);
      font-family: $font-fallback;
      font-weight: $font-weight-semibold;
    }
  }

  // load font-family after font loaded
  .font-text-01-loaded & .block--rocketship-social-widgets-block {
    h2,
    h3 {
      font-family: $font-base;
    }
  }

  .field--name-field-event-price {
    margin-bottom: rem(10);
    @include text-nobreak;
  }

  // ** date

  .block--field-blocknodeeventfield-event-start-date,
  .block--field-blocknodeeventfield-event-end-date {
    display: inline;
    .field {
      display: inline-block;
    }
  }

  .block--field-blocknodeeventfield-event-end-date {
    &::before {
      content: " - ";
      margin: 0 rem(5);
    }
  }

  // ** filters (tags)
  //    add all kinds of fields with lists of links here

  .block--provider-facets {
    padding-bottom: 0;
    font-weight: $font-weight-normal;

    h3 {
      @include h4;
      margin-bottom: rem(10);
      width: 100%;
    }

    .item-list__links {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    .facet-item {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      &::after {
        content: ",";
        margin-right: rem(4);
      }

      &:last-child::after {
        content: "";
        margin-right: 0;
      }
    }

    a {
      display: inline-block;
      padding: 0;
      @include font-size($font-size-base, $line-height-base);
      text-transform: none;
      border: 0 none;
      border-radius: 0;
      @include link-underline((color: $color-link, color-hover: $color-link-hover));
    }

    a:hover,
    a:active {
      background-color: transparent;
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .event__meta--full {

    padding: 0;
    margin-top: rem($gap-vert-bottom-sm);
    margin-bottom: rem($gap-vert-bottom-sm);

    > .layout__region {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-left: rem(25);
      padding-right: 0;

      > * {
        margin-right: rem(25);
        margin-bottom: 0;
      }

    }

    // ** placing of social share

    .block--rocketship-social-widgets-block {
      display: flex;

      h3 {
        margin-right: rem(10);
        margin-bottom: 0;
        padding-top: 1px; // align with other text
      }
    }

    .block--field-blocknodeeventfield-event-start-date,
    .block--field-blocknodeeventfield-event-end-date {
      display: flex;
    }

    .block--field-blocknodeeventfield-event-end-date {
      margin-left: rem(-25);
    }

    // price & date: inline the elements
    .field--name-field-events {

      display: flex;
      flex-wrap: wrap;
      margin-left: rem(-25);

      .field {
        margin-left: rem(25);
      }
    }

    // price itself
    .field--name-field-event-price {
      margin-bottom: 0;
    }

    // place

    .field--name-field-event-place p {
      margin-bottom: 0;
    }

    // .field--name-field-event-location {
    //   margin-left: rem(25);
    // }

    // .address {
    //   display: flex;
    //   flex-wrap: wrap;
    //   margin-bottom: 0;

    //   br {
    //     display: none;
    //   }

    //   // separate the elements with ","
    //   > * {
    //     &::after {
    //       content: ",";
    //       margin-right: rem(4);
    //     }

    //     &.postal-code::after,
    //     &:last-child::after {
    //       content: "";
    //     }
    //   }
    // }
  }

}

