////////////////////////////////////////////////////////////////////////////////
// *
// * Event detail full: has its own view-mode of the news CT, with a DS template
// *
////////////////////////////////////////////////////////////////////////////////

// ** header with image

.event__header--full {
  position: relative;
  padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;
  transition: all $duration $easing;

  .block--type-cb-title {
    margin: 0;
    text-align: center;

    h1 {
      margin-bottom: 0;
    }

    // ** When using the subtitle,
    //    put margins or paddings on the heading-tag, NOT on the field wrapper itself.
    //    Because of a bug, the field wrapper itself gets rendered, even if there is no heading text filled in
    //    so this is a way to prevent that div from taking up space
    h2 {
      margin-top: rem($gap-vert);
    }
  }

  // ** We have 2 subregions available if we need to add extra groupings
  //    one already contains the breadcrumbs, the other is empty

  .layout__subregion-01 {
    margin-top: rem(10);
  }

  // ** In case we have a Title block with the extra fields filled in,
  //    we can add some variant styling
  .cb-title--extended {

    text-align: center;

    .field--name-field-cb-button {
      justify-content: center;
      text-align: center;
    }

    & + .layout__subregion-01 {
      margin-top: rem($gap-vert);
    }
  }
}

// ** Header variant: with bg image

.event__header--full.layout--bg-image {
  padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;

  .layout__region--1-col--content-blocks {

    h1,
    h2 {
      margin-bottom: 0;
    }

    // -- the stuff that goes under the title

    .field {
      font-weight: $font-weight-bold;
    }

    .field--name-created {
      margin-top: rem(15);
    }

    .breadcrumb {
      justify-content: left;
    }
  }

  .layout__subregion-02 {
    position: relative;
    z-index: 1; // over the bg image
    margin-top: rem($gap-vert-top-xs);
  }

}

// ** wrapper on top of content
//     for fields such as map, extra remarks, …

.event__info--full {

  padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0 ;
  @include full-bg($color-event-content-top);

  .block {
    margin-bottom: rem(20);

    &:last-child {
      margin-bottom: 0;
    }
  }

  // -- address has title

  .block--field-blocknodeeventfield-event-address {
    > h2 {
      margin-bottom: rem($gap-vert-sm);
      @include font-size($h3-size, $h3-line);
    }
  }

  .field--name-field-event-address {
    // in case of using label instead of block title
    // we can style that here
    & > h3:first-child {
      margin-bottom: rem($gap-vert-sm);
      @include font-size($h3-size, $h3-line);
    }

    .address__lines {
      position: relative;
      padding-left: rem(21);

      @include font-awesome((
        icon: $fa-var-map-marker,
        size: 14,
        type: "light",
        position: absolute,
        left: 0,
        top: rem(3)
      ));
    }

    .address__locality,
    .address__country {
      padding-left: rem(24);
    }

    .address__locality {
      //
    }

    .address__country {
      //
    }
  }

  // -- remarks has label

  .block--field-blocknodeeventfield-event-info {
    > h2 {
      margin-bottom: rem($gap-vert-sm);
      @include font-size($h3-size, $h3-line);
    }
  }

  .field--name-field-event-extra-remarks {
    //
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  // *
  // =============================================================================

  .event__header--full {
    padding: rem($gap-vert-top-sm) 0 rem($gap-vert-bottom-sm) 0;
    height: rem(270); // no min-height because IE11 doesn't understand it
  }

  .event__header--full.layout--bg-image {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%; // IE bugfix

    .layout__subregion-01 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      .field {
        display: block;
        margin-top: rem(15);
        margin-left: rem(10);
        margin-right: rem(10);
      }

      // title fills width
      .block--field-blocknodeblogfield-node-title-replacement {
        width: 100%;
      }
    }

    .layout__subregion-02 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5; // go over the header img and bg

      // spread items evenly in 1 row
      display: flex;
      justify-content: space-between;

      width: 100%;
      padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;
    }
  }

  .event__info--full {
    padding: $gap-vert-top-sm 0 $gap-vert-bottom-sm 0 ;
    margin: 0 rem(-$gap-hor / 2);

    .layout-builder__region {
      display: flex;
    }

    .block {
      flex-basis: auto;
      margin: 0 rem($gap-hor / 2);
      width: calc(#{(100% / 3)} - #{rem($gap-hor)});
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  // *
  // =============================================================================

  .event__header--full {
    padding: rem($gap-vert-top-md) 0 rem($gap-vert-bottom-md) 0;
    height: rem(370);
  }

  .event__info--full {
    padding: $gap-vert-top-md 0 $gap-vert-bottom-md 0 ;
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // *
  // =============================================================================

  .event__header--full {
    padding: rem($gap-vert-top-lg-2) 0 rem($gap-vert-bottom-lg-2) 0;
    height: rem(470);
  }

  .event__info--full {
    padding: $gap-vert-top-lg 0 $gap-vert-bottom-lg 0 ;
  }

}
