////////////////////////////////////////////////////////////////////////////////
// *
// * Event teasers
// *
// *
////////////////////////////////////////////////////////////////////////////////


.event--teaser {

  // ** visual

  .layout__subregion-01 {
    position: relative;
    margin-bottom: rem($gap-vert-sm);
  }

  // date on visual
  .field--name-field-event-start-date {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: rem(17) rem(20) rem(13) rem(20);
    min-width: rem(79);

    text-align: center;
    color: $color-white;
    background-color: $color-spot-1;

    .day,
    .part-1 {
      display: block;
      margin-bottom: rem(3);
      @include font-size(28, 28);
      font-weight: $font-weight-medium;
    }

    .month,
    .part-2 {
      display: block;
      @include font-size($font-size-md, $font-size-md);
      text-transform: uppercase;
      font-weight: $font-weight-medium;
    }
  }

  // // date normal
  // .field--name-field-events {
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   padding: rem(10);
  //   background: $color-gray-light-1;
  // }

  // // make separators for date and time if multiple
  // .time,
  // .date {

  //   &:last-child {
  //     &::before {
  //       content: "- ";
  //     }
  //   }

  //   &:first-child {
  //     &::before {
  //       content: "";
  //     }
  //   }
  // }

  // image
  .field--image,
  .field--name-field-media-canonical-image {
    margin-bottom: 0;

    a,
    img {
      display: block;
    }
  }

  // ** title

  h2,
  h3,
  h4 {
    @include h3;
  }

  // .layout__subregion-01 {
  // display: flex;
  // flex-wrap: wrap;
  // padding-bottom: rem(5);
  // @include font-size(13, 18);
  // }

  // .date-wrapper {
  //   position: relative;
  //   display: flex;
  //   padding: rem(0) rem(15) rem(0) rem(21);
  //   margin-right: rem(16);
  //   border-right: 1px solid #e2e2e2;

  //   @include font-awesome((
  //     icon: $fa-var-calendar-alt,
  //     size: 14,
  //     type: "light",
  //     color: $color-spot-2,
  //     position: absolute,
  //     left: 0,
  //     top: 2px
  //   ));

  //   .last-date {
  //     position: relative;

  //     @include font-awesome((
  //       icon: $fa-var-long-arrow-right,
  //       size: 14,
  //       type: "light",
  //       color: $color-spot-2,
  //       margin: 0 2px
  //     ));

  //   }
  // }

  .field--name-field-event-location {
    position: relative;
    margin-top: rem(-10);
    padding: 0 0 0 rem(18);

    @include font-awesome((
      icon: $fa-var-map-pin,
      size: 15,
      type: "light",
      color: $color-spot-2,
      position: absolute,
      left: 0,
      top: 3px
    ));

  }

  // ** read more

  .rs-canonical-link-formatter {

    &,
    a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
    }

    a {
      overflow: hidden;
      text-indent: -9999px;
    }

    // margin-top: rem($gap-vert-sm);

    // a {
    //   @include link-more;
    // }
  }

  .field--name-field-event-tags {
    margin-top: rem($gap-vert-sm);
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .event--teaser {

    display: flex;

    .layout__subregion-01 {
      margin-bottom: rem($gap-vert);
    }

    // .rs-canonical-link-formatter {
    //   margin-top: rem($gap-vert);
    // }

    // make teasers stretch to properly align location at the bottom
    .node__content--event--teaser {
      display: flex;

      .layout-section,
      .layout__region {
        display: flex;
      }

      .layout__region {
        flex-direction: column;
        flex: 1 1 auto;
      }

      // push down location
      .block--field-blocknodeeventtitle {
        flex-grow: 1;
      }
    }

  }

}
