// all nodes in layout builder should have sticky actions
.node-layout-builder-form {
  position: fixed;
  z-index: 908;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1.25rem;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
